a.button {
    background-color: black;
    color: white;
    display: block;
    font-family: 'Playfair Display', serif;
    margin: 1em auto;
    padding: 0.75em 3em;
    font-size: 1em;
    width: fit-content;
}

a.button:hover {
    background-color: #696969;
}
