post {
    text-align: center;
}

post > h2,
post > h3 {
    display: none;
}

post .body blockquote {
    margin: 2em 15%;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 400;
}

post .body blockquote b {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.1em;
}

post h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.1em;
}

post h4 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
}

post .body h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.1em;
}

post .body ul {
    margin-top: 0.5em;
    margin-bottom: 2em;

    list-style-type: circle;
    list-style-position: inside;
}

post .body ul li {
    margin: 0.25em 0;
}

post .body ul li p {
    display: contents;
}

post .body p {
    margin-bottom: 2em;
}

post .body a {
    text-decoration: underline;
    text-decoration-color: #FFD0DB;
    text-decoration-thickness: 3px;
}

post .body a:hover {
    color: #000000;
    text-decoration-color: #F5788E;
}

@media only screen and (max-width: 768px) {
    post .body blockquote {
        margin: 2em auto;
    }
}
