.form {
    border: 1px solid black;
    min-width: 30em;
    padding: 2.5em 1.75em 0em 1.75em;
}

.nested {
    border: none;
    padding: 0 1em;
}

.error {
    display: block;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: red;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 768px) {
    .form {
        min-width: inherit;
    }
}
