.form {
    border: 1px solid black;
    min-width: 30em;
    padding: 2em 1em;
}

.nested {
    border: none;
    padding: 0 1em;
}

.error {
    display: block;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: red;
    padding: 0.5em;
}
