app.fullScreen {
    margin: 0;
}

#fullHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#fullHeader h1 {
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    line-height: 0.9em;
    font-weight: 700;
    text-align: center;
}

#fullHeader h2 {
    font-family: 'Homemade Apple', serif;
    text-align: center;
    margin-top: 1.5em;
    font-size: 2em;
}

#fullHeader a {
    text-align: center;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0.5em;
    font-size: 2em;
}

@media only screen and ( max-height: 549px ) {
    #fullHeader a {
        display: none;
    }
    
    #fullHeader {
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 768px) {
    #fullHeader h1 {
        font-size: 6em;
    }
    
    #fullHeader h2 {
        font-size: 1.1em;
    }
}

@supports (-webkit-touch-callout: none) {
    #fullHeader {
        height: -webkit-fill-available;
    }
}
