.header {
    min-width: 450px;
    position: sticky;
}

.mobileOnlyScroll {
    overflow: hidden;
}

@media only screen and (max-width: 1080px),
       screen and (max-height: 400px) {
            
    .header {
        height: fit-content;
        overflow: auto;
        position: static !important;
    }
        
    .contentInner {
        max-width: 750px;
        position: inherit;
        margin: 0 auto;
    }
    
    .mobileOnlyScroll {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .mobileOnlyScroll > content {
        height: auto;
    }
}
