p.or, p.footer, p.intro {
    font-family: 'Playfair Display', serif;
    line-height: 1.25em;
    text-align: center;
}

p.or {
    font-size: 1em;
    margin: 1em;
    text-transform: uppercase;
}

p.intro {
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}

p.lookup {
    text-align: center;
    margin: 0 0 1em 0;
}

p.footer {
    font-size: 0.75em;
    margin-top: 3em;
}

p.footer a {
    text-decoration: underline;
}

p.footer a:hover {
    text-decoration: none;
}

.form {
    border: none;
    padding: 0 1em;
}

@media only screen and (max-width: 768px) {
    #form {
        padding: 0;
    }

    p.intro {
        width: 90%;
    }
}
