p.or, p.footer, p.intro {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

p.or {
    font-size: 1em;
    margin: 1em;
    text-transform: uppercase;
}

p.intro {
    font-size: 0.75em;
    margin-top: 1em;
}

p.footer {
    font-size: 0.75em;
    margin-top: 3em;
}

p.footer a {
    text-decoration: underline;
}

p.footer a:hover {
    text-decoration: none;
}

.form {
    border: none;
    padding: 0 1em;
}
